.header {margin: 1rem 0; height: 5rem; width: 100%; position: fixed; top: 0;}
.header .logoWrap {position: relative; margin-bottom: 0; height: 100%; aspect-ratio: 1;}
.header .logoWrap div {transform: scale(0);}
.header .logoWrap a {cursor: pointer;}


.MainWrap.container {max-width: 1000px;}
.MainWrap .section {margin-bottom: 5rem;}
.MainWrap .section h2 {margin-bottom: 1.5rem; font-size: 2rem; font-weight: 600; color: rgba(115, 90, 60, 1);}

/* ===== section01(Grid Section) ===== */
/* Design Style */
.MainWrap .section01 {display: grid; grid-template-columns: 1fr;}
.MainWrap .section01 .gridItems {display: grid; grid-template-columns: 1fr 1fr;}
.MainWrap .section01 .gridItems > div {position: relative;}
.MainWrap .section01 .gridItems .gridItem1 {}
.MainWrap .section01 .gridItems .gridItem2 {}
.MainWrap .section01 .gridItems .gridItem3 {}
.MainWrap .section01 .gridItems .textBox {}
.MainWrap .section01 .gridItems .textBox .textWrap {position: relative; display: flex; flex-direction: column; align-items: baseline; z-index: 9;}
.MainWrap .section01 .gridItems .textBox .textWrap a {display: inline-block; padding: 0.4rem 0; font-size: 4.3rem; font-weight: 600; color: #212529; transition: color 0.3s ease-in-out; cursor: pointer;}
.MainWrap .section01 .gridItems .textBox .textWrap a:hover {color: #3c4758;}
.MainWrap .section01 .gridItems .textBox .textWrap h4 {padding: 0.4rem 0; font-size: 4.3rem; font-weight: 300;}
.MainWrap .section01 .gridItems .textBox .textWrap h5 {padding: 0.4rem 0; font-size: 3.3rem; font-weight: 600; text-align: right;}
.MainWrap .section01 .gridItems .textBox .textWrap p {margin-top: 3rem; font-size: 1rem; line-height: 1.4; font-weight: 300;}
.MainWrap .section01 .gridItem2 .textBox .textWrap {align-items: flex-end;}
.MainWrap .section01 .gridItem2 .textBox .textWrap h4 {width: 100%;}
.MainWrap .section01 .gridItem2 .textBox .textWrap a {text-align: right;}

.MainWrap .section01 .gridItems .imgBox {width: 100%; height: 100%;}
.MainWrap .section01 .gridItems .imgBox figure {aspect-ratio: 1; max-height: 382px; overflow: hidden;}/*이미지 크기에 맞춰 유동적으로 되게끔 수정필요*/
.MainWrap .section01 .gridItems .imgBox figure img {width: 100%; height: 100%; transform: scale(1.2);}

.MainWrap .section01 .gridItems > div .cover  {position: absolute; top: 0;bottom: 0;right: 0; background-color: #b89569; z-index: 99;}
.MainWrap .section01 .gridItems .textBox .cover {width: 100%; z-index: 8;}
.MainWrap .section01 .gridItems .imgBox .cover {left: 0;}

/* ===== Animation Style ===== */
/* motion1 - 그리드 정렬 */
.MainWrap .section01 {gap: 0px; transition: all .5s cubic-bezier(.65,.05,.36,1);}
.MainWrap .section01 .gridItems {gap: 0px; transition: all .5s cubic-bezier(.65,.05,.36,1);}
.MainWrap .section01.active {gap: 20px;}
.MainWrap .section01.active .gridItems {gap: 20px;}
.MainWrap .section01.active .gridItems.active:nth-child(1) {grid-template-columns: 3fr 2fr;}
.MainWrap .section01.active .gridItems.active:nth-child(2) {grid-template-columns: 2fr 3fr;}
.MainWrap .section01.active .gridItems.active:nth-child(3) {grid-template-columns: 7fr 8fr;}
.MainWrap .section01 .gridItems > div {transition: all .5s cubic-bezier(.65,.05,.36,1);}/*gap:20px 상쇄*/
.MainWrap .section01 .gridItem1 > div {padding: 0 0 10px;}
.MainWrap .section01 .gridItem2 > div {padding: 10px 0;}
.MainWrap .section01 .gridItem3 > div {padding: 10px 0 0;}
.MainWrap .section01.active .gridItems > div {padding: 0px;}
/* motion2 - 커버 모션 */
.MainWrap .section01 .gridItems:nth-child(3) .imgBox{width: 100%;transition: all .5s cubic-bezier(.65,.05,.36,1);}
.MainWrap .section01 .gridItems > div .cover  {transition: all .5s cubic-bezier(.65,.05,.36,1);}
.MainWrap .section01.active .gridItems.active .textBox .cover.active {width: 382px;}/*이미지 크기에 맞춰 유동적으로 되게끔 수정필요*/
.MainWrap .section01.active .gridItems.active:nth-child(3) .textBox .cover.active {width: 80%; top: 10%;bottom: 10%;}
/* motion3 - 텍스트 fade in */
.MainWrap .section01 .gridItems .textBox .textWrap {opacity: 0; transition: all .5s cubic-bezier(.65,.05,.36,1);}
.MainWrap .section01 .gridItems .textBox .textWrap.active {opacity: 1;}


/* ===== section02(About Section) ===== */
.MainWrap .section02 {display: flex;}
.MainWrap .section02 h3 {margin-bottom: 1.3rem; font-size: 1.3rem; font-weight: 600;}
.MainWrap .section02 h3 span {font-size: 1rem; font-weight: 300;}
.MainWrap .section02 h4 {margin-bottom: 1rem; font-size: 1rem; font-weight: 600;}
.MainWrap .section02 p {font-size: 1rem; font-weight: 300;}
.MainWrap .section02 span {font-size: 0.8rem; color: #7d7d7d; font-weight: 300;}
.MainWrap .section02 a {}

.MainWrap .section02 > div {width: 50%;}
.MainWrap .section02 .leftBox {}
.MainWrap .section02 .leftBox .contents:not(:last-child) {margin-bottom: 3.5rem;}
.MainWrap .section02 .leftBox .contents .item:not(:last-child) {margin-bottom: 1.6rem;}
.MainWrap .section02 .leftBox .contents .item ul {padding-left: 0.5rem;}
.MainWrap .section02 .leftBox .contents .item ul li:not(:last-child) {margin-bottom: 1rem;}
.MainWrap .section02 .leftBox .content3 .item ul li::before { margin-right: 0.5rem; font-weight: 600; content: '·'; display: inline-block;}

.MainWrap .section02 .leftBox .item ul li {}
.MainWrap .section02 .leftBox .item ul li span {}

.MainWrap .section02 .rightBox {}
.MainWrap .section02 .rightBox .thumbnailWrap {width: 100%; aspect-ratio: 1; position: relative;}
.MainWrap .section02 .rightBox .thumbnailWrap > div {width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.MainWrap .section02 .rightBox .thumbnailWrap > div > div {width: 100%; height: 100%; display: inline-block; transform: scale(0); transition: all 0.7s cubic-bezier(0.6, 0.05, 0.5, 0.9);}

.MainWrap .section02 .rightBox .thumbnailWrap .introWrap canvas {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

.MainWrap .section02 .rightBox .thumbnailWrap .experienceWrap {}
.MainWrap .section02 .rightBox .thumbnailWrap .experienceWrap .monitorBox {position: relative; z-index: 3;}
.MainWrap .section02 .rightBox .thumbnailWrap .experienceWrap .imgBox {aspect-ratio: 16 / 9; left: 50%; overflow: hidden; position: absolute; top: 6.7%; transform: translateX(-50%); width: 92%; z-index: 2;}
.MainWrap .section02 .rightBox .thumbnailWrap .experienceWrap .imgBox img {position: absolute; z-index: 9;}
.MainWrap .section02 .rightBox .thumbnailWrap .experienceWrap .imgBox img.ImgItem-enter-active {z-index: 10; opacity: 0;}

.MainWrap .section02 .rightBox .thumbnailWrap .skillWrap {}
.MainWrap .section02 .rightBox .thumbnailWrap .skillWrap ul {display: flex; justify-content: center; flex-wrap: wrap;}
.MainWrap .section02 .rightBox .thumbnailWrap .skillWrap ul li {width: 25%; justify-content: center; display: flex;}
.MainWrap .section02 .rightBox .thumbnailWrap .skillWrap ul li div img {}


.MainWrap .section02 .rightBox .thumbnailWrap.thumbnail1 .introWrap > div {transform: scale(1);}
.MainWrap .section02 .rightBox .thumbnailWrap.thumbnail2 .experienceWrap > div {transform: scale(1);}
.MainWrap .section02 .rightBox .thumbnailWrap.thumbnail3 .skillWrap > div {transform: scale(1);}


/* ===== section02(Project Section) ===== */
.MainWrap .section03 {gap: 5%; display: grid; grid-template-columns: 1fr 1fr;}
.MainWrap .section03 > div {}
.MainWrap .section03 > div p {display: inline-block; margin-bottom: 0;}
.MainWrap .section03 > div span {display: inline-block;}

.MainWrap .section03 .leftBox > div {}
.MainWrap .section03 .leftBox > div:not(:last-child) {margin-bottom: 2rem;}
.MainWrap .section03 .leftBox h3 {margin-bottom: 1rem; font-size: 0.9rem; font-weight: 300;}
.MainWrap .section03 .leftBox ul {}
.MainWrap .section03 .leftBox ul li {display: flex; flex-direction: row; align-items: center;}
.MainWrap .section03 .leftBox ul li:not(:last-child) {margin-bottom: 0.8rem;}
.MainWrap .section03 .leftBox ul li p {margin-right: 1.5rem; display: flex; align-items: center; text-transform: uppercase; cursor: pointer;}
.MainWrap .section03 .leftBox ul li p .bullet {position: relative; margin-bottom: 0.2rem; margin-right: 0.5rem; height: 0.9rem; width: 0.9rem; border-radius: 50%; border: 1px solid #000;}
.MainWrap .section03 .leftBox ul li p .bullet::before {content: ""; position: absolute; display: inline-block; border-radius: 50%; left: 50%; top: 50%; width: 101%; height: 101%; transform: translate(-50%,-50%) scale(0); transition: transform .3s cubic-bezier(.22,.61,.36,1); background-color: #000;}
.MainWrap .section03 .leftBox ul li p:hover .bullet::before,
.MainWrap .section03 .leftBox ul li p.focus .bullet::before { transform: translate(-50%,-50%) scale(1);}
.MainWrap .section03 .leftBox ul li .fillBar {flex: 1 1; height: 1px; background-color: #000;}

.MainWrap .section03 .rightBox {}
.MainWrap .section03 .rightBox .viewBox {}
.MainWrap .section03 .rightBox .viewBox .thumbnailBox {}
.MainWrap .section03 .rightBox .viewBox .thumbnailBox a {cursor: pointer;}
.MainWrap .section03 .rightBox .viewBox .infoWrap {padding-top: 2rem;}
.MainWrap .section03 .rightBox .viewBox .infoWrap h4 { text-transform: uppercase;}
.MainWrap .section03 .rightBox .viewBox .infoWrap ul {}
.MainWrap .section03 .rightBox .viewBox .infoWrap ul li {}
.MainWrap .section03 .rightBox .viewBox .infoWrap .info_desc {margin: 1rem 0;}
.MainWrap .section03 .rightBox .viewBox .infoWrap .info_desc li {font-size: 1rem; font-weight: 300;}
.MainWrap .section03 .rightBox .viewBox .infoWrap .info_desc li::before { margin-right: 0.5rem; font-weight: 600; content: '·'; display: inline-block;}
.MainWrap .section03 .rightBox .viewBox .infoWrap .info_desc li:not(:last-child) {margin-bottom: 0.5rem;}
.MainWrap .section03 .rightBox .viewBox .infoWrap .info_skills {display: flex;}
.MainWrap .section03 .rightBox .viewBox .infoWrap .info_skills li {padding: 0.3rem 0.8rem; font-size: .8rem; border-radius: 0.4rem; font-weight: 100; background-color: rgba(55,55,67,.7); color: #fff; white-space: nowrap;}
.MainWrap .section03 .rightBox .viewBox .infoWrap .info_skills li:not(:last-child) {margin-right: 0.5rem;}


.MainWrap .section04 .contactWrap {display: grid; grid-template-columns: 1fr 1fr;}
.MainWrap .section04 .contactWrap .leftBox {}
.MainWrap .section04 .contactWrap .leftBox h2 {margin-bottom: 3rem; font-size: 3rem; font-weight: 600;}
.MainWrap .section04 .contactWrap .leftBox h3 {margin-bottom: 2rem; font-size: 2rem; font-weight: 300;}
.MainWrap .section04 .contactWrap .leftBox h3 span {font-size: 1.5rem; font-weight: 100;}
.MainWrap .section04 .contactWrap .leftBox ul {}
.MainWrap .section04 .contactWrap .leftBox ul li:not(:last-child) {margin-bottom: 1rem;}
.MainWrap .section04 .contactWrap .leftBox ul li h4 {font-size: 1.5rem;}
.MainWrap .section04 .contactWrap .leftBox ul li p {font-size: 1.2rem; font-weight: 300;}

/* 임시 */



.MainWrap .section04 {}
.MainWrap .section05 {}

.testBox {padding-bottom: 2000px;}
